@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

html {
  height: 100vh;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

body {
  margin: 0;
  background-image: url('./img/Background.svg');
    background-size: cover;
    font-family: 'Fira Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
